.vscode/**
.vscode-test/**
out/**
src/**
old/**
.git/**
.gitignore
.editorconfig
tsconfig.json
vsc-extension-quickstart.md
Webview/
node_modules/**/.bin
node_modules/**/*.map
node_modules/**/*.ts
**/*.map
**/*.ts
!dist/**
!resources/**
!node_modules/**
